/* Clases generales */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #FFF;
}

h4:hover {
  color: #000;
}

.page-header {
  font-family: 'Fjalla One', sans-serif;
}

.text-black {
  color: #000;
}

/* clases del Navegador Global */

.navbar-collapse .title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
}

.navbar-form {
  width: 50%;
}

.navbar-form .input-group {
  width: 420px;
}

.dropdown-menu {
  width: 200px;
  background: #222222;
}

.dropdown-menu.setting {
  width: 140px;
  min-width: 143px;
}

.media {
  padding: 0px 5px;
  width: 100%;
}

.media:first-child {
  margin-top: 10px;
}

.card-img-top {
  height: 200px;
}

/* FIN clases del Navegador Global */

/* Clases del modal de login */
.btn-primary {
  background-color: #590a02;
  border-color: #590a02;
}

.btn-primary:hover {
  background-color: #290400;
  border-color: #290400;
}




/* Clases de sección de contactos */

.contactos {
  margin-top: 5em;
}

.panel>.list-group .list-group-item:first-child {
  /*border-top: 1px solid rgb(204, 204, 204);*/
}

#back-to-bootsnipp {
  position: fixed;
  top: 10px;
  right: 10px;
}

.c-search>.form-control {
  border-radius: 0px;
  border-width: 0px;
  border-bottom-width: 1px;
  font-size: 1.3em;
  padding: 12px 12px;
  height: 44px;
  outline: none !important;
}

.c-search>.form-control:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none;
}

.c-search>.input-group-btn .btn {
  border-radius: 0px;
  border-width: 0px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  height: 44px;
}

/* tus favoritos */
h2 {
	text-align: left;
}
..card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

/*fin de favoritos*/

ul.c-controls {
  list-style: none;
  margin: 0px;
  min-height: 44px;
}

ul.c-controls li {
  margin-top: 8px;
  float: left;
}

ul.c-controls li a {
  font-size: 1.7em;
  padding: 11px 10px 6px;
}

ul.c-controls li a i {
  min-width: 24px;
  text-align: center;
}

ul.c-controls li a:hover {
  background-color: rgba(51, 51, 51, 0.2);
}

.c-toggle {
  font-size: 1.7em;
}

.name {
  font-size: 1em;
  font-weight: 700;
  color: #000;
}

.c-info {
  padding: 5px 10px;
  font-size: 1.25em;
}

/* FIN clases de sección de contactos */

/* Clases de la sección de nuevos estrenos */
.glyphicon-star:hover{
  color: #d4ff00;
  cursor: pointer;
}

.movie-card {
  background: #000;
  box-shadow: 0px 6px 18px rgba(255, 255, 255, 0.2);
  width: 100%;
  max-width: 200px;
  margin: 1em;
  border-radius: 10px;
  display: inline-block;
}

.movie-header {
  padding: 0;
  margin: 0;
  height: 200px;
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* clases para agregar la imagen de cada película */

.coco {
  background: url(../img/coco.jpg);
  background-size: cover;
}

.starWars {
  background: url(../img/star-wars-ultimos-jedi-poster-pelicula-leia-como-personaje-central.jpg);
  background-size: cover;
}

.jumanji {
  background: url(../img/Ver-Jumanji-Bienvenidos-a-la-Jungla-2017-online.jpg);
  background-size: cover;
}

.wonder {
  background: url(../img/wonder.jpg);
  background-size: cover;
}

.header-icon-container {
  position: relative;
}

.header-icon {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  color: #ffffff;
  font-size: 54px;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
  opacity: .85;
}

.header-icon:hover {
  background: rgba(0, 0, 0, 0.15);
  font-size: 74px;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 1;
}

.movie-content {
  padding: 18px 18px 24px 18px;
  margin: 0;
}

.movie-content-header, .movie-info {
  display: table;
  width: 100%;
}

.movie-title {
  font-size: 24px;
  margin: 0;
  display: table-cell;
}

.movie-info {
  margin-top: 1em;
}

.info-section {
  display: table-cell;
  text-transform: uppercase;
  text-align: center;
}

.info-section:first-of-type {
  text-align: left;
}

.info-section:last-of-type {
  text-align: right;
}

.info-section label {
  display: block;
  color: #671503;
  margin-bottom: .5em;
  font-size: 9px;
}

.info-section span {
  font-weight: 700;
  font-size: 11px;
}

.intro {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #831000;
  text-decoration: none;
}

.header-icon {
  width: 100%;
  height: 200px;
  line-height: 367px;
  text-align: center;
  margin-top: 10em;
  margin: 0 auto;
  color: #ffffff;
  font-size: 54px;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
  opacity: .85;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga' 1;
  -webkit-font-smoothing: antialiased;
}

/* FIN Clases de la sección de nuevos estrenos */

/* Agregando noticias por el usuario*/

.widget-area {
  background-color: #fff;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  float: right;
  margin-top: 30px;
  padding: 37px 27px;
  width: 100%;
}

.status-upload {
  background: none repeat scroll 0 0 #f5f5f5;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: left;
  width: 100%;
}

.status-upload form {
  float: right;
  width: 100%;
}

.status-upload form textarea {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #777777;
  float: left;
  font-family: Lato;
  font-size: 14px;
  height: 142px;
  letter-spacing: 0.3px;
  padding: 20px;
  width: 100%;
  resize: vertical;
  outline: none;
  border: 1px solid #F2F2F2;
}

.status-upload ul {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0 0 0 15px;
  width: auto;
}

.status-upload ul>li {
  float: left;
}

.status-upload ul>li>a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #777777;
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 10px 0 10px 10px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 30px;
  cursor: pointer;
}

.status-upload ul>li>a:hover {
  background: none repeat scroll 0 0 #606060;
  color: #fff;
}

.status-upload form button {
  border: medium none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-right: 9px;
  margin-top: 9px;
  padding: 6px 15px;
}

.dropdown>a>span.green:before {
  border-left-color: #2dcb73;
}

.status-upload form button>i {
  margin-right: 7px;
}

/* Media querys */

@media screen and (max-width: 500px) {
  .movie-card {
    width: 95%;
    max-width: 95%;
    margin: 1em;
    display: block;
  }
  .container {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .visible-xs {
    display: inline-block !important;
  }
  .block {
    display: block !important;
    width: 100%;
    height: 1px !important;
  }
}

h4, .meta, .card-text {
  font-size: 12px;
}

.fa-star {
  font-size: 12px;
  color: yellow;
}

.btn-secondary {
  color: blue;
}

 .btn-secondary{
 	color: blue;
 }


 .btn-secondary a:hover{
 	background-color: blue;
 }


/*noticias */

h1 {
	text-align:center;
}
input, textarea {
  outline: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  color: #555f77;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ced2db;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ced2db;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #ced2db;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ced2db;
}

p {
  line-height: 1.3125rem;
}

.comments {
  margin: 2.5rem auto 0;
  max-width: 60.75rem;
  padding: 0 1.25rem;
}

.comment-wrap {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5.3125rem;
}

.photo {
  padding-top: 0.625rem;
  display: table-cell;
  width: 3.5rem;
}
.photo .avatar {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-size: contain;
}

.comment-block {
  padding: 1rem;
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: 0.1875rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.comment-block textarea {
  width: 100%;
  resize: none;
}

.comment-text {
  margin-bottom: 1.25rem;
}

.bottom-comment {
  color: #acb4c2;
  font-size: 0.875rem;
}

.comment-date {
  float: left;
}

.comment-actions {
  float: right;
}
.comment-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}
.comment-actions li.complain {
  padding-right: 0.75rem;
  border-right: 1px solid #e1e5eb;
}
.comment-actions li.reply {
  padding-left: 0.75rem;
  padding-right: 0.125rem;
}
.comment-actions li:hover {
  color: #0095ff;
}


/*fin de noticias*/

 /* Agregando noticias por el usuario*/ 



.widget-area {
    background-color: #fff;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: right;
    margin-top: 30px;
    padding: 37px 27px;
    width: 100%;
}

.btn-secondary a:hover {
  background-color: blue;
}

/* Fin Media querys */

/*click en el corazon */
  

  /* js comentarios */
  .contComentario{
  margin: 2.5rem auto 0;
  max-width: 60.75rem;
  padding: 0 1.25rem;
}
#nuevoComentario {
	margin-left: 0em;
}
